.confirm-y-n-root {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-color: khaki;
  .row {
    align-items: center;
  }
}

.confirm {
  color: mediumseagreen;
  cursor: pointer;
}

.cancel {
  color: red;
  cursor: pointer;
}

.message {
  font-size: smaller;
}
