.message-container {
  background-color: lightgreen;
  .row {
    align-items: center;
  }
}

.green {
  background-color: lightgreen;
}

.red {
  background-color: lightcoral;
}

.div-btn-close {
  text-align: end;
}
